@import "tailwindcss";


.nav-link {
  @apply text-gray-700 hover:text-blue-600 font-medium transition;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}