<!-- overlay (click outside to close) -->
<div
  class="fixed inset-0 bg-black/30 backdrop-blur-sm"
  hx-get="/menu-close"
  hx-target="#mobile-menu"
  hx-swap="innerHTML"
></div>

<!-- sliding panel -->
<div
  class="fixed top-0 right-0 w-36 max-w-full h-full bg-blue-300 shadow-2xl animate-[slideIn_.25s_ease-out] "
>
  <div class="p-5 space-y-4">

    <!-- Header -->
    <div class="flex justify-between items-center border-b pb-3">
      <!--<span class="font-semibold text-lg">Menu</span> -->

      <button
        hx-get="/menu-close"
        hx-target="#mobile-menu"
        hx-swap="innerHTML"
        class="text-gray-500 hover:text-gray-800 text-right p-1"
      >
        Menu ☰
      </button>
    </div>

    <!-- Links -->
    <nav class="flex flex-col space-y-3">
      <a href="/" class="nav-link">Home</a>
      <a href="#" class="nav-link">Dashboard</a>
      <a href="#" class="nav-link">Settings</a>
      <a href="#" class="nav-link">About</a>
    </nav>

  </div>
</div>