{% extends "base.html" %}

{% block content %}
<header class="sticky top-0 z-50  bg-blue-800 text-white">
  <nav class="flex px-4">
    <div class="flex w-full justify-between items-center">

      <!-- Logo -->

       <img class="size-28 shrink-0 p-1 " src="../static/images/mt-hood-small.jpg" alt="Mt Hood" />
      
      <div class="text-lg font-bold">Alan McIvor</div>

        <div class="hidden md:flex font-medium p-4">
          <a href="/" class="nav-link">Home</a>
          <a href="#" class="nav-link">Dashboard</a>
          <a href="#" class="nav-link">Settings</a>
          <a href="#" class="nav-link">About</a>
        </div>
      
      <!-- Mobile hamburger (HTMX) -->
      <div class="md:hidden">
        <button
          hx-get="/menu"
          hx-target="#mobile-menu"
          hx-swap="innerHTML"
          hx-indicator="#menu-spinner"
          class="p-2 rounded-lg text-blue-300 hover:bg-gray-100"
        >
          ☰
        </button>
      </div>

    </div>
  </nav>

  <!-- HTMX loading indicator -->
  <div id="menu-spinner" class="htmx-indicator text-center text-sm py-1">
    Loading…
  </div>
  <!-- Mobile menu container -->
  <div id="mobile-menu" class="md:hidden"></div>
</header>

<button
    hx-get="/time"
    hx-target="#time-box"
    hx-swap="innerHTML"
    class="bg-primary hover:bg-primary-hover  text-white font-bold py-2 px-4 rounded" 
   >
    Get Current Time
</button>


<div id="time-box" class="mt-6 p-4 bg-green-400 rounded-2xl shadow hover:bg-amber-300">
    Click the button to load time...
</div>

{% endblock %}